.tab-intro {
  padding-top: 2rem !important;
  padding-bottom: 3rem !important;
}

.tabs ul {
  width: auto;
  flex-flow: wrap;
  flex-shrink: 1 !important;
  margin-top: 10px;
}

.tabs {
  display: flex;
  align-items: center !important;
  flex-direction: column;
}

.is-column {
  flex-direction: column;
  justify-content: center;
}

.tab-heading.tab-heading {
  font-size: 4em !important;
  font-family: 'gotham-bold';
  text-align: center;
}

.tab-main-heading {
  font-size: 5em !important;
  margin-bottom: 0 !important;
}

.tab-main-paragraph {
  padding-left: 4em;
  padding-right: 4em;
  text-align: justify;
}

.is-centered-img {
  align-self: center;
  justify-self: center;
  max-width: 90%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .tabs {
    flex-direction: row;
  }
  .tabs ul {
    flex-direction: column;
  }
  .tabs ul > li {
    width: 80%;
  }
  .tab-main-paragraph {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (max-width: 568px) {
  .tab-heading.tab-heading {
    font-size: 3em !important;
    font-family: 'gotham-bold';
    text-align: center;
  }

  .tab-main-heading {
    font-size: 4em !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 454px) {
  .tab-heading.tab-heading {
    font-size: 2.5em !important;
    font-family: 'gotham-bold';
    text-align: center;
  }

  .tab-main-heading {
    font-size: 3.5em !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 413px) {
  .tab-heading.tab-heading {
    font-size: 2em !important;
    font-family: 'gotham-bold';
    text-align: center;
  }

  .tab-main-heading {
    font-size: 3em !important;
    margin-bottom: 0 !important;
  }
}
