.tabs ul {
  width: auto;
  flex-flow: wrap;
  flex-shrink: 1 !important;
  margin-top: 10px;
}

.tabs {
  display: flex;
  align-items: center !important;
  flex-direction: column;
}

.is-column {
  flex-direction: column;
  justify-content: center;
}

.tab-heading.tab-heading {
  font-size: 2.5em !important;
  font-family: 'IBM Plex Serif', serif;
  /* font-family: 'prata'; */
  /* font-family: 'bodoni'; */
  /* font-family: 'fabada'; */
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Forum', cursive; */
  /* font-family: 'mod'; */
}

.is-centered-img {
  align-self: center;
  justify-self: center;
  max-width: 90%;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .tabs {
    flex-direction: row;
  }
  .tabs ul {
    flex-direction: column;
  }

  .tabs ul > li {
    width: 80%;
  }
}
