section.gallery-section {
  padding-left: 0;
  padding-right: 0;
  background-color: #d5c98f;
  /* background-color: #c7d8c640; */
}

section.gallery-section > .container {
  border-radius: 3px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12); */
}

.map-gallery-wrap.map-gallery-wrap {
  border-radius: 2px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.04);
}

.map-gallery-section {
  background-color: #d5c98f40;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.home-description {
  min-height: 6rem;
}

.home-img-container {
  display: flex;
  align-items: center;
  margin-top: 1em;
  user-select: none;
}

.home-info-container {
  margin-top: 2em;
  margin-left: 3.4em;
  margin-right: 3.4em;
  user-select: none;
}

.img-container {
  width: 100%;
}

.right-arrow:hover {
  cursor: pointer;
  color: black;
}

.left-arrow:hover {
  cursor: pointer;
  color: black;
}

.homes-rule {
  width: 55%;
  margin: 1.5rem auto;
}
