#about-title {
  /* font-family: 'Merriweather', serif; */
  margin-bottom: 0.4em;
  color: #232322;
  /* font-size: 6rem !important; */
  line-height: 130%;
  /* text-shadow: 0px 4px 3px rgba(223, 116, 74, 0.2),
    0px 8px 13px rgba(223, 116, 74, 0.05),
    0px 18px 23px rgba(223, 116, 74, 0.05); */
}

.text1 {
  font-size: 60px;
}
.text2 {
  font-size: 160px;
}

.shadow1 {
  color: #fff;
  /* font-family: Arvo; */
  font-weight: bold;
  text-shadow: -2px -2px 0 #222, 2px -2px 0 #222, -2px 2px 0 #222,
    2px 2px 0 #222, 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}

.shadow2 {
  color: #fff;
  /* font-family: Arvo; */
  font-family: 'mod';
  font-weight: 600;
  text-shadow: -3px -3px 0 #222, 3px -3px 0 #222, -3px 3px 0 #222,
    3px 3px 0 #222, 4px 4px 0 #fff, 5px 5px 0 #fff;
  line-height: 1em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}

.about-paragraph {
  font-size: 120%;
  color: #fff;
}

@media screen and (max-width: 1087px) {
  .text1 {
    font-size: 40px;
  }
  .text2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 1280px) {
  #about-title {
    font-size: 4.8rem !important;
  }
}

@media screen and (max-width: 930px) {
  #about-title {
    font-size: 4.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  #about-title > .text2 {
    font-size: 7.5rem !important;
  }
  #about {
    padding-top: 1.5rem !important;
  }
}

@media screen and (max-width: 530px) {
  #about-title > .text2 {
    font-size: 4.9rem !important;
  }
}

@media screen and (max-width: 470px) {
  .text1 {
    font-size: 35px;
  }
  #about-title > .text2 {
    font-size: 80px !important;
  }
}

section.about {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  background-color: #222;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}
