#about-title {
  font-family: 'Forum', cursive;
  margin-bottom: 0.4em;
  font-size: 3.8rem !important;
}

.about-paragraph {
  font-size: 120%;
}

@media screen and (max-width: 768px) {
  #about-title {
    font-size: 3.5rem !important;
  }
}

section.about {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
  background-color: white;
}
