main > .hero.is-fullheight {
  min-height: calc(100vh - 52px);
}

.hero > .hero-body {
  padding: 0;
}

h1.title.is-1 {
  font-size: calc(2rem + 4vw);
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'IBM Plex Serif', serif; */
  /* font-family: 'Forum', cursive; */
  /* font-family: 'mod'; */
  color: #131313;
}

.hero-video video {
  max-width: none;
  z-index: -1;
}

.hero-cover {
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(147, 189, 252, 0.3);
}

.hero-body > .container > .columns {
  align-items: center;
}

.columns > .hero-icon-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-icon {
  height: 300px;
}

@media screen and (max-width: 768px) {
  .hero-icon {
    height: auto;
  }
  .hero-tagline {
    text-align: center;
    margin-right: 0 !important;
  }
}

.hero-tagline {
  margin-right: 20px;
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  font-family: 'Cinzel', serif;
}
