.location-header.location-header.location-header {
  padding-top: 3rem;
  font-size: 5rem;
}

.location-sub-header.location-sub-header {
  font-size: 3rem;
}

.map-column-mobile {
  width: 324px;
  margin: 0 auto;
}

.maps-rule {
  width: 43%;
  margin: 1.5rem auto;
}

iframe {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
}
