.location-header.location-header.location-header {
  padding-top: 3rem;
  font-size: 5rem;
}

.location-sub-header.location-sub-header {
  font-size: 3rem;
}

.map-column-mobile {
  width: 324px;
  margin: 0 auto;
}

.maps-rule {
  width: 43%;
  margin: 1.5rem auto;
}

.map-container {
  height: 500px;
  width: 100%;
  margin-bottom: -50px;
  display: inline-block;
  overflow: hidden;
}

iframe {
  position: relative;
  top: -50px;
  border: none;
}
