.location-header.location-header.location-header {
	padding-top: 3rem;
	font-size: 5rem;
}

.location-sub-header.location-sub-header {
	font-size: 3rem;
	margin-bottom: 1em;
}

.map-column-mobile {
	width: 324px;
	margin: 0 auto;
}

.maps-rule {
	width: 43%;
	margin: 1.5rem auto;
}

.map-container {
	height: 500px;
	width: 100%;
	margin-bottom: -58px;
	display: inline-block;
	overflow: hidden;
}

.map-box.map-box.map-box {
	border-radius: 4px;
	background-color: #69995d80;
	padding: 0.325rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

iframe {
	position: relative;
	top: -50px;
	border: none;
}

@media screen and (max-width: 768px) {
	.map-container {
		height: 399px;
	}
}
