.brand-title {
  font-size: 110%;
  margin-left: 6px;
  font-family: 'mod';
  font-weight: 800;
  color: #292929;
}

.nav-big-letter {
  font-size: 120%;
}

nav {
  transition: all 0.75s ease-out;
}

.navbar-item {
  color: #292929 !important;
}

.colored {
  background-color: rgb(209, 227, 255) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.transparent {
  background-color: rgba(209, 227, 255, 0.3) !important;
  box-shadow: none;
}

.transparent > .container > .navbar-brand > .navbar-item > img {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

.colored > .container > .navbar-brand > .navbar-item > img {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-out;
}

.navbar-end > a {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}
