.brand-title {
  margin-left: 6px;
  font-family: 'Playfair Display SC', serif;
  font-weight: 800;
}

nav {
  transition: all 1.5s ease-out;
}

.colored {
  background-color: white !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.transparent {
  background-color: rgba(255, 255, 255, 0.3) !important;
  box-shadow: none;
}

.navbar-end > a {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}
