.brand-title {
  font-size: 110%;
  letter-spacing: 1.5px;
  margin-left: 6px;
  font-family: 'mod';
  font-weight: 800;
  color: #292929;
}

.nav-big-letter {
  font-size: 140%;
}

nav {
  transition: all 0.75s ease-out;
  border-bottom: 1px solid rgba(55, 103, 58, 0.05);
}

.navbar-item {
  color: #292929 !important;
}

.colored {
  background-color: rgba(250, 250, 250, 0.9) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.015), 0 1px 2px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(55, 103, 58, 0.05);
}

.transparent {
  background-color: rgba(250, 250, 250, 0.15) !important;
  box-shadow: none;
}

.transparent > .container > .navbar-brand > .navbar-item > img {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

.colored > .container > .navbar-brand > .navbar-item > img {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-out;
}

.navbar-end > a {
  font-family: 'gotham';
  font-weight: 600;
}

@media screen and (max-width: 1087px) {
  .thin-hr {
    width: 24%;
    margin-top: 0rem;
    margin-bottom: 0.25rem;
    background-color: rgba(61, 61, 61, 0.12);
    height: 1px;
  }
  .is-centered-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container > .navbar-brand > .navbar-item > img {
    transition: 0.2s all ease-in;
  }
  .transparent > .container > .navbar-brand > .navbar-item > img {
    width: 0;
  }
  .colored > .container > .navbar-brand > .navbar-item > img {
    width: auto;
  }
  .navbar-menu.is-active {
    min-width: 200px;
    max-width: 500px;
    position: absolute;
    right: 0;
    top: 52px;
    background-color: rgba(250, 250, 250);
  }
}
