.side-is-fixed {
  position: fixed;
  top: 10px;
  right: 0;
  transition: 0.1s all ease-out;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.padded-span {
  padding-left: 5px;
}

.portrait {
  min-width: 100px;
  max-width: 150px;
  padding: 5px;
}

.card-columns {
  display: flex;
}

.card-columns > .column > .columns > .column {
  padding: 0.25rem;
}

.card-header {
  background-color: rgb(231, 240, 255) !important;
}

.fact-answer {
  font-family: 'gotham-bold';
}

@media screen and (min-width: 769px) {
  .sidebar-section {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-section {
    padding: 3rem 0.5rem !important;
  }
  .card-columns > .column {
    flex-direction: column;
  }
  .card-columns > .column > .columns {
    display: flex;
  }
  .card-columns > .column > .columns > .column.is-narrow {
    flex: none;
  }
  .button-column {
    flex-direction: row !important;
  }
}

@media screen and (max-width: 868px) {
  .button-column {
    flex-direction: column;
  }
}
