html {
  scroll-behavior: smooth;
}

html > body {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.55;
  font-family: 'gotham';
}

main {
  background-image: url('/img/topography.png');
}

.main-content-wrap-wrap {
  /* padding: 3em 0; */
  background-color: rgba(241, 241, 255, 0.2);
  /* background-color: #c7d8c640; */
}

.main-content-wrap {
  /* margin-top: 3em !important; */
  /* margin-bottom: 3em; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.04);
  background-color: #fefefe;
  /* background-color: #a9b7c0; */
}

.green-rule {
  background-color: #636b46;
}

.content h1 {
  font-family: 'gotham-bold';
}

.content h2 {
  font-size: 2.8em !important;
  text-align: center !important;
  font-family: 'gotham-bold';
}

.content h3 {
  font-size: 1.6em !important;
  font-family: 'gotham-bold';
}

section.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a.button {
  transition: all 0.2s ease-out;
}

a.is-danger {
  background-color: #a01919 !important;
}

a.is-danger:hover {
  background-color: #d60000 !important;
}

.colored > .container > .navbar-menu > .navbar-end > a.navbar-item:hover {
  background-color: rgb(170, 170, 170) !important;
  color: #3273dc;
}

.privacy-section {
  min-height: calc(100vh - 181px);
  background-color: #fefefe;
  padding-top: 6rem !important;
}

@media screen and (max-width: 768px) {
  .columns {
    margin: 0 !important;
  }
  section.section {
    padding: 3rem 0.5rem;
  }

  .content p {
    text-align: justify !important;
  }
}

a.button:active {
  transform: translateY(calc(-0.1rem + 2px)) translateX(1px);
}

::selection {
  background: #abbad8;
  color: #111;
}

::-moz-selection {
  background: #abbad8;
  color: #111;
}

::-webkit-selection {
  background: #abbad8;
  color: #111;
}

@font-face {
  font-family: mod;
  src: url('MOD20.TTF');
}

@font-face {
  font-family: gotham;
  src: url('Gotham-Light.otf');
}

@font-face {
  font-family: gotham-bold;
  src: url('Gotham-Bold.otf');
}
